* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    place-items: center;

    min-height: 100vh;
}

.container {
    display: grid;
    place-items: center;
}

.number {
    font-size: 5rem;
    font-family: sans-serif;
}

.controls {
    display: flex;

    width: 200px;
    border-top: 1px solid black;
}

.left,
.right {
    display: grid;
    place-items: center;
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    cursor: pointer;

    transition: background-color 250ms ease-out;
}

.left:hover,
.right:hover {
    background-color: hsl(180, 50%, 50%, 0.2);
}